<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/element.css"/>
    <link rel="stylesheet" href="~/Content/display.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/element.js"></script>
    <script src="~/Scripts/lib.js"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js"></script>
    @*<script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>*@
    <script>
        //var userObj = getLocalObj('user')
        //if (!userObj) {
        //    location.href="/login"
        //}
        //mixin.data.user = userObj
        //全局变量
        var needLogin = '@ViewBag.needLogin'
        var DingData = {}
    </script>
</head>
<body>
    
    <div id="app">
        @*<el-header>
            @RenderPage("~/Views/Shared/Head_login.cshtml")
        </el-header>*@
        <el-container>
            <el-main>
                @RenderBody()
            </el-main>
            <el-footer>
                @RenderPage("~/Views/Shared/Footer.cshtml")
            </el-footer>
        </el-container>
    </div>
    <div id="tempPage"></div>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
     

</script>

<script>
    console.log('')
    console.log('1')
    //登录钉钉
    $.ajax({
        //url: 'http://17e245o364.imwork.net/signature/',
        url: '/Login/BeginDDAutoLogin',
        dataType: 'json',
        type:'GET',
        cache:false,
        success: function (data) {
            console.log(data)
            DingData = data
            console.log(DingData)
            var configObj = {
                //jsticket: DingData.jsticket,
                agentId: DingData.AgentId,
                corpId: DingData.CorpId,
                timeStamp: DingData.TimeStamp,
                signature: DingData.Signature,
                nonceStr: DingData.NonceStr,
                jsApiList: [
                    'runtime.info',
                    'device.notification.alert',
                    'device.notification.confirm',
                    'biz.user.get']
            }
            console.log('2')
            console.log(configObj)
            //DingTalkPC.config(configObj);
            DingTalkPC.config({
                agentId: data.AgentId, // 必填，微应用ID
                corpId: data.CorpId,//必填，企业ID
                timeStamp: data.TimeStamp, // 必填，生成签名的时间戳
                signature: data.Signature, // 必填，签名
                nonceStr: data.NonceStr, // 必填，生成签名的随机串
                jsApiList: ['device.notification.alert', 'device.notification.confirm', 'biz.user.get'] // 必填，需要使用的jsapi列表
            });
        },
        error: function (err) {
            console.log('err')
            console.log(err)
        }
    })
    //DingTalkPC.ready回调函数
    DingTalkPC.ready(function () {
        console.log('i am ready')
        DingTalkPC.device.notification.alert({
            message: 'hello world',
            title: 'just say hello',
            buttonName: 'hello too',
            onSuccess: function () {

            }
        })
        //PC版获取免登授权码
        DingTalkPC.runtime.permission.requestAuthCode({
            corpId: DingData.corpId, //企业id
            agentId: DingData.agentId,//应用id
            onSuccess: function (result) {
                console.log('4')
                console.log(result);
                Window.authcode = result.code;
            },
            onFail: function (err) {
                console.log('requestAuthCode fail: ' + JSON.stringify(err));
            }
        });
    }); 
    

    DingTalkPC.error(function (err) {
        console.log('dd error: ' + JSON.stringify(err));
    });
    
</script>
