<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/element.css"/>
    <link rel="stylesheet" href="~/Content/display.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/element.js"></script>
    <script src="~/Scripts/lib.js"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js"></script>
    @*<script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>*@
    <script>
        var userObj = getLocalObj('user')
        if (!userObj) {
            location.href="/login"
        }
        mixin.data.user = userObj

        
    </script>
</head>
<body>
    
    <div id="app">
        <el-header>
            @RenderPage("~/Views/Shared/Head_login.cshtml")
        </el-header>
        <el-container>
            <el-main>
                @RenderBody()
            </el-main>
            <el-footer>
                @RenderPage("~/Views/Shared/Footer.cshtml")
            </el-footer>
        </el-container>
    </div>
    <div id="tempPage"></div>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
     

</script>

<script>
    var needLogin = '@ViewBag.needLogin'
    var DingData = {}
    alert('hello');
    $.ajax({
        url: 'http://localhost:3000/signature/',
        dataType: 'json',
        type:'GET',
        cache:false,
        success: function (data) {
            console.log(data)
            DingData = data
            DingTalkPC.config({
                agentId: DingData.agentId,
                corpId: DingData.corpId,
                timeStamp: DingData.timeStamp,
                nonceStr: DingData.nonceStr,
                signature: DingData.signature,
                jsApiList: [
                    'runtime.info',
                    'biz.contact.choose',
                    'device.notification.confirm',
                    'device.notification.alert',
                    'device.notification.prompt',
                    'biz.ding.post',
                    'biz.util.openLink'] //必填，需要使用的jsapi列表
            });
            DingTalkPC.ready(function () {

                DingTalkPC.device.notification.alert({
                    message: 'hello world',
                    title: 'just say hello',
                    buttonName: 'hello too',
                    onSuccess: function () {
                        logger.i('')
                    }
                })
                DingTalkPC.runtime.permission.requestAuthCode({
                    corpId: DingData.corpId, //企业id
                    onSuccess: function (info) {
                        console.log('authcode' + info.code);
                        Window.authcode = info.code;
                    },
                    onFail: function (err) {
                        console.log('requestAuthCode fail: ' + JSON.stringify(err));
                    }
                });
            });
        }
    })

    

    DingTalkPC.error(function (err) {
        alert('dd error: ' + JSON.stringify(err));
    });
    
</script>
