<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/element-bk.css" />
    @*<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">*@
    <link rel="stylesheet" href="~/Content/display.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1615230_59l0cghhl4n.css" />
    <link rel="stylesheet" href="~/Content/site.2.0.css" />
    <script src="~/Scripts/jquery-1.11.0.js"></script>

    <link rel="stylesheet" href="~/JqueryUI/jquery-ui.css" />
    <link rel="stylesheet" href="~/JqueryUI/jquery-ui.structure.css" />
    <link rel="stylesheet" href="~/JqueryUI/colorpicker-master/jquery.colorpicker.css" />
    <link rel="stylesheet" href="~/JqueryUI/jquery-ui.theme.css" />



    <script src="~/Scripts/vue-bk.js"></script>
    @*<script src="https://unpkg.com/vue/dist/vue.js"></script>*@
    <script src="~/Scripts/drag.js"></script>
    <script src="~/Scripts/element-bk.js"></script>
    @*<script src="https://unpkg.com/element-ui/lib/index.js"></script>*@
    <script src="~/Scripts/lib2.01.js"></script>

    <script src="~/JqueryUI/jquery-ui.min.js"></script>
    <script src="~/Scripts/anyLine.js"></script>
    <script src="~/JqueryUI/colorpicker-master/jquery.colorpicker.js"></script>
    <script src="~/JqueryUI/colorpicker-master/parts/jquery.ui.colorpicker-rgbslider.js"></script>


    <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.7.13/dingtalk.open.js"></script>
    <script>
        //全局变量
        var needLogin = '@ViewBag.needLogin'
        var DingData = {}
        var userList = [
            { name: '张鹏辉', id: '100328051024695354' },
            { name: '肖民生', id: '073110326032521796' },
            { name: '黄龙贤', id: '020821466340361583' },
            { name: '蔡兴桐', id: '083452125733424957' },
            { name: '黄浩炜', id: 'manager325' }
        ]
    </script>
</head>
<body>

    <div id="app">
        @*<el-header>
            @RenderPage("~/Views/Shared/Head_login.cshtml")
        </el-header>*@
        <el-container>
            <el-main>
                @RenderBody()
            </el-main>
            <el-footer>
                @RenderPage("~/Views/Shared/Footer.cshtml")
            </el-footer>
        </el-container>
    </div>
    <div id="tempPage"></div>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>


</script>

<script>
    //登录钉钉
    
    $.ajax({
        url: '/Login/BeginDDAutoLogin',
        dataType: 'json',
        type: 'GET',
        cache: false,
        success: function (data) {
            DingData = _cloneObj(data)
            //0代表研究院
            if (DingData.CompanyId == 0) {
                 setInterval(function () {
                    goError();
                 }, 3000)
            }
            setTimeout(function () {
                if (DingData.CompanyId == 2 && !DingData.userid) {
                    DingData.userid = 'manager325'
                    DingData.nickName = '黄浩炜'
                    DingData.dept = ['阿法迪', '研究院']
                }
            }, 2000)
            //2代表阿法迪
            console.log('开始获取授权')
            console.log(DingData)
            //if (goError()) return
            var configObj = {
                agentId: DingData.AgentId,
                corpId: DingData.CorpId,
                timeStamp: DingData.TimeStamp,
                nonceStr: DingData.NonceStr,
                signature: DingData.Signature,
                //jsticket: DingData.JsApiTicket,
                jsApiList: [
                    'runtime.info',
                    'biz.contact.choose',
                    'device.notification.alert',
                    'device.notification.confirm',
                    'biz.ding.post',
                    'biz.user.get',
                    'biz.util.uploadAttachment',
                    'biz.util.openLink']
            }
            //console.log(configObj)
            dd.config(configObj);
            ddReady()
        },
        error: function (err) {
            console.error(err)
        }
    })
    //DingTalkPC.ready回调函数
    function ddReady() {
        dd.ready(function () {
            dd.runtime.permission.requestAuthCode({
                corpId: DingData.CorpId,
                onSuccess: function (result) {
                    console.log('23333333333333333333333')
                    console.log(result)
                },
                onFail: function (err) { }

            });
            //PC版获取免登授权码
            dd.runtime.permission.requestAuthCode({
                corpId: DingData.CorpId, //企业id
                agentId: DingData.AgentId,//应用id
                onSuccess: function (result) {
                    //console.log(result);
                    Window.authcode = result.code;
                },
                onFail: function (err) {
                    console.log('requestAuthCode fail: ' + JSON.stringify(err));
                }
            });
            var startTime = new Date()
            console.log('免登开始 ' + startTime.getSeconds())
            dd.biz.user.get({
                onSuccess: function (result) {
                    console.log(result);
                    DingData.userid = result.emplId
                    DingData.isManager = result.isManager
                    DingData.nickName = result.nickName
                    console.log("你好，" + DingData.nickName)
                    //获取真实姓名
                    $.ajax({
                        url: '/DingTalkServers/getUserDetail?userId=' + DingData.userid,
                        dataType: 'json',
                        type: 'POST',
                        data: {},
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            console.log('/DingTalkServers/getUserDetail?userId=' + DingData.userid)
                            console.log(data)
                            if (typeof (data) == 'string') data = JSON.parse(data)
                            DingData.nickName = data.name
                            DingData.department = data.department
                            DingData.dept = data.dept
                        },
                        error: function (err) {
                            console.error(err)
                        }
                    })
                },
                onFail: function (err) {
                    console.log('userinfo fail: ' + JSON.stringify(err));
                }
            });
        });
    }

    dd.error(function (err) {
        console.log('dd error: ' + JSON.stringify(err));
    });

    PostData('Role/GetRoleInfoList', {}, (res) => {
        rolelist = res

    })
    

    //获取部门信息
    GetData('DingTalkServers/GetDepartmentList', (res) => {
        Depts = JSON.parse(res).department
        DeptNames = []
        for (let d6 of Depts) {
            DeptNames.push(d6.name)
        }
    })
</script>


@*<script src="~/Scripts/pdf.js"></script>
<script src="~/Scripts/pdf.worker.js"></script>
<script src="~/Scripts/jspdf.min.js"></script>

<script>
    PDFJS.workerSrc = '../Scripts/pdf.worker.js';//加载核心库
</script>*@

