<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/element.css"/>
    <link rel="stylesheet" href="~/Content/display.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/element.js"></script>
    <script src="~/Scripts/lib.js"></script>
    <script>
        var userObj = getLocalObj('user')
        if (!userObj) {
            location.href="/login"
        }
        mixin.data.user = userObj
    </script>
</head>
<body>
    
    <div id="app">
        <el-header>
            @RenderPage("~/Views/Shared/Head_login.cshtml")
        </el-header>
        <el-container>
            <el-main>
                @RenderBody()
            </el-main>
            <el-footer>
                @RenderPage("~/Views/Shared/Footer.cshtml")
            </el-footer>
        </el-container>
    </div>
    <div id="tempPage"></div>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
     

</script>

<script>
    var needLogin = '@ViewBag.needLogin'
    
</script>
